src/__pycache__/

# load only the report.pdf changes
report/*
!report/report.pdf

# load only the slide.pdf changes
slides/*
!slides/slides.pdf

# load only the currently used CNN
data/trained_net/*
!data/trained_net/CNNNet0107_2.onnx
